/*
**
**
**
**
** CSS Helpers *******/
*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	background-position: center top;
}
.w60{
   width: 60%;
}
.w65{
   width: 65%;
}
.w70{
   width: 70%;
}
.w80{
	width: 80%;
}
.w100{
	width: 100%
}
.floatl{
   float: left;
}
.floatr{
   float: right;
}
.fix{
   clear: both;
}
.center{
   margin:0 auto;
}
.white{
   color: #FFFFFF;
}

/*
**
**
**
**
** Main Classes ********/
.container {
   min-height:100%;
   position:relative;
}
.header {
   padding: 10px 0;
}
.body {
   padding-bottom:30px;   /* Height of the footer */
}
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   background-image: url('/img/front/footer_bg.png');
}

/*
**
**
**
** Top Nav *******/
.top_nav{
 padding-top: 40px;
}
.top_nav ul{
   list-style: none;
   list-style-position: inside;
}
.top_nav ul li{
   display: inline-block;
   float: left;
}
.top_nav ul li a{
   color: #9b9b9b;
   text-decoration: none;
   display: block;
   font-family: 'Fjalla One', sans-serif;
   font-size: 20px;
}
.top_nav ul li a span.red{
   display: block;
   color: #f76721;
   text-align: center;
   font-size: 14px;
}
.top_nav ul li a:link{
   padding: 10px;
}
.top_nav ul li a:hover{
}


/*
**
**
**
**
** Botom Nav ***********/
.menu{
  width: 50%;
}
.menu ul{
  list-style: none;
  list-style-position: inside;
  background-position: center top;
}
.menu ul li{
  font-family: 'sans-serif';
  padding: 2px 0;
  cursor: pointer;
}
.menu ul li .title{
  color:#50bfbf;
  font-size: 16px;
  display: block;
  font-weight: bold;
}
.menu ul li .desc{
  color:#50bfbf;
  font-size: 12px;
  display: block;
}


/*
**
**
***
** Page CSS ***********/
.page_holder{
  height: 300px; 
  width:100%; 
  background-image:url('/img/front/blur_trabajos.jpg'); 
  background-position: center; 
  background-repeat: repeat-x;
}
.page_holder_2{
  height: 300px; 
  background-image:url('/img/front/pantalla_trabajos.jpg'); 
  background-position: center; 
  background-repeat: no-repeat;
}

/*
**
**
**
**
** Slide Show CSS ********/

#slider{
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
   position:relative;
   height:300px;
}
#items{
   width: 2000em;
   position: absolute;
}
#items > div{
   height: 300px;
}
#items > div > div > div > span{
   position: relative;
}
#items > div > div > div > div{
   position: relative;
}
#items > div > div > div > img{
   position: relative;
   float:right;
}
#items > div > div > div > div.title{
   top:-200px;
}
#items > div > div > div > span.desc{
   top:310px;
}
#items > div > div > div > img.logo{
   top:310px;
}
#items > div > div > div > div > span.name{
   color: #FFFFFF!important;
   font-size: 20px;
   font-family: 'Fjalla One', sans-serif;
}
#items > div > div > div > div > span.cat{
   color: #ff6b23!important;
   font-size: 18px;
   font-family: 'Fjalla One', sans-serif;
}
#items > div > div > div > div > span.info{
   color: #FFFFFF!important;
   font-size: 12px;
   font-family: 'Fjalla One', sans-serif;
}
#items > div > div > div > span.desc{
   color: #FFFFFF!important;
   font-size: 12px;
   font-family: 'Fjalla One', sans-serif;
}
.left-side span{
   display: block;
   background-color: rgba(0, 0, 0, 0.7);
   width: 200px;
   margin-bottom: 10px;
   padding: 5px;
}
#items > li, #items > div{
   float: left;
   overflow: visible;
}
#items > div{
   width: 1580px;
}
@media screen and (max-width: 1920px) {
  #items > div, #navigation-wrapper {
    width: 1920px;
  }
}
@media screen and (max-width: 1440px) {
  #items > div, #navigation-wrapper {
    width: 1440px;
  }
}
@media screen and (max-width: 1280px) {
  #items > div, #navigation-wrapper {
    width: 1280px;
  }
}
@media screen and (max-width: 1024px) {
  #items > div, #navigation-wrapper {
    width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  #items > div, #navigation-wrapper {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  #items > div, #navigation-wrapper {
    width: 768px;
  }
}
@media screen and (max-width: 640px) {
  #items > div, #navigation-wrapper {
    width: 640px;
  }
}
@media screen and (max-width: 480px) {
  #items > div, #navigation-wrapper {
    width: 480px;
  }
}
@media screen and (max-width: 320px) {
  #items > div, #navigation-wrapper {
    width: 300px;
  }
}

.left, .right{
   margin-top:10px;
}
.left, #navigation li{
   float:left;
}
.right{
   float:right;
}
#navigation-wrapper,#navigation{
   margin:0 auto;
}
#navigation{
   clear:both;
   width:81px;
}
#navigation li{
   width:15px;
   height:15px;
   list-style:none;
   border-radius:8px;
   border:1px solid #ccc;
   margin: 5px;
}
#navigation li:hover, .left:hover, .right:hover{
   cursor:pointer;
}
.active{
   background-color:#ccc;
   cursor:default;
}
.disabled{
   display:none;
}