/* ===== 14x14 icons ===== */

.iAbacus { background: url(../img/icons/dark/abacus.png) no-repeat 12px; }
.iAdd { background: url(../img/icons/dark/add.png) no-repeat 12px; }
.iAddressBook { background: url(../img/icons/dark/addressBook.png) no-repeat 12px; }
.iAdminUser { background: url(../img/icons/dark/adminUser.png) no-repeat 12px; }
.iAdminUser2 { background: url(../img/icons/dark/adminUser2.png) no-repeat 12px; }
.iAirplane { background: url(../img/icons/dark/airplane.png) no-repeat 12px; }
.iAlarm { background: url(../img/icons/dark/alarm.png) no-repeat 12px; }
.iAlert { background: url(../img/icons/dark/alert.png) no-repeat 12px; }
.iAlert2 { background: url(../img/icons/dark/alert2.png) no-repeat 12px; }
.iAndroid { background: url(../img/icons/dark/android.png) no-repeat 12px; }
.iArchive { background: url(../img/icons/dark/archive.png) no-repeat 12px; }
.iArrowDown { background: url(../img/icons/dark/arrowDown.png) no-repeat 12px; }
.iArrowLeft { background: url(../img/icons/dark/arrowLeft.png) no-repeat 12px; }
.iArrowRight { background: url(../img/icons/dark/arrowRight.png) no-repeat 12px; }
.iArrowUp { background: url(../img/icons/dark/arrowUp.png) no-repeat 12px; }

.iBag { background: url(../img/icons/dark/bag.png) no-repeat 12px; }
.iBaloons { background: url(../img/icons/dark/baloons.png) no-repeat 12px; }
.iBandaid { background: url(../img/icons/dark/bandaid.png) no-repeat 12px; }
.iBasket { background: url(../img/icons/dark/basket.png) no-repeat 12px; }
.iBasket2 { background: url(../img/icons/dark/basket2.png) no-repeat 12px; }
.iBattery { background: url(../img/icons/dark/battery.png) no-repeat 12px; }
.iBatteryFull { background: url(../img/icons/dark/batteryFull.png) no-repeat 12px; }
.iBell { background: url(../img/icons/dark/bell.png) no-repeat 12px; }
.iBell2 { background: url(../img/icons/dark/bell2.png) no-repeat 12px; }
.iBigBrush { background: url(../img/icons/dark/bigBrush.png) no-repeat 12px; }
.iBlackberry { background: url(../img/icons/dark/blackberry.png) no-repeat 12px; }
.iBlock { background: url(../img/icons/dark/block.png) no-repeat 12px; }
.iBlocks { background: url(../img/icons/dark/blocks.png) no-repeat 12px; }
.iBluetooth { background: url(../img/icons/dark/bluetooth.png) no-repeat 12px; }
.iBluetooth2 { background: url(../img/icons/dark/bluetooth2.png) no-repeat 12px; }
.iBluray { background: url(../img/icons/dark/bluray.png) no-repeat 12px; }
.iBook { background: url(../img/icons/dark/book.png) no-repeat 12px; }
.iBookLarge { background: url(../img/icons/dark/bookLarge.png) no-repeat 12px; }
.iBooks { background: url(../img/icons/dark/books.png) no-repeat 12px; }
.iBright { background: url(../img/icons/dark/bright.png) no-repeat 12px; }
.iBubbles { background: url(../img/icons/dark/bubbles.png) no-repeat 12px; }
.iBubbles2 { background: url(../img/icons/dark/bubbles2.png) no-repeat 12px; }
.iBuilding { background: url(../img/icons/dark/building.png) no-repeat 12px; }
.iBullsEye { background: url(../img/icons/dark/bullsEye.png) no-repeat 12px; }
.iBuzz { background: url(../img/icons/dark/buzz.png) no-repeat 12px; }

.iCalc { background: url(../img/icons/dark/calc.png) no-repeat 12px; }
.iCamera { background: url(../img/icons/dark/camera.png) no-repeat 12px; }
.iCamera2 { background: url(../img/icons/dark/camera2.png) no-repeat 12px; }
.iCar { background: url(../img/icons/dark/car.png) no-repeat 12px; }
.iCart { background: url(../img/icons/dark/cart.png) no-repeat 12px; }
.iCart2 { background: url(../img/icons/dark/cart2.png) no-repeat 12px; }
.iCart3 { background: url(../img/icons/dark/cart3.png) no-repeat 12px; }
.iCart4 { background: url(../img/icons/dark/cart4.png) no-repeat 12px; }
.iCashRegister { background: url(../img/icons/dark/cashRegister.png) no-repeat 12px; }
.iCassette { background: url(../img/icons/dark/cassette.png) no-repeat 12px; }
.iCat { background: url(../img/icons/dark/cat.png) no-repeat 12px; }
.iCd { background: url(../img/icons/dark/cd.png) no-repeat 12px; }
.iChair { background: url(../img/icons/dark/chair.png) no-repeat 12px; }
.iChart { background: url(../img/icons/dark/chart.png) no-repeat 12px; }
.iChart2 { background: url(../img/icons/dark/chart2.png) no-repeat 12px; }
.iChart3 { background: url(../img/icons/dark/chart3.png) no-repeat 12px; }
.iChart4 { background: url(../img/icons/dark/chart4.png) no-repeat 12px; }
.iChart5 { background: url(../img/icons/dark/chart5.png) no-repeat 12px; }
.iChart6 { background: url(../img/icons/dark/chart6.png) no-repeat 12px; }
.iChart7 { background: url(../img/icons/dark/chart7.png) no-repeat 12px; }
.iChart8 { background: url(../img/icons/dark/chart8.png) no-repeat 12px; }
.iCheck { background: url(../img/icons/dark/check.png) no-repeat 12px; }
.iChemical { background: url(../img/icons/dark/chemical.png) no-repeat 12px; }
.iChrome { background: url(../img/icons/dark/chrome.png) no-repeat 12px; }
.iClipboard { background: url(../img/icons/dark/clipboard.png) no-repeat 12px; }
.iClock { background: url(../img/icons/dark/clock.png) no-repeat 12px; }
.iClose { background: url(../img/icons/dark/close.png) no-repeat 12px; }
.iCloud { background: url(../img/icons/dark/cloud.png) no-repeat 12px; }
.iCloudDownload { background: url(../img/icons/dark/cloudDownload.png) no-repeat 12px; }
.iCloudUpload { background: url(../img/icons/dark/cloudUpload.png) no-repeat 12px; }
.iCog { background: url(../img/icons/dark/cog.png) no-repeat 12px; }
.iCog2 { background: url(../img/icons/dark/cog2.png) no-repeat 12px; }
.iCog3 { background: url(../img/icons/dark/cog3.png) no-repeat 12px; }
.iCog4 { background: url(../img/icons/dark/cog4.png) no-repeat 12px; }
.iCompanies { background: url(../img/icons/dark/companies.png) no-repeat 12px; }
.iComputer { background: url(../img/icons/dark/computer.png) no-repeat 12px; }
.iCoverflow { background: url(../img/icons/dark/coverflow.png) no-repeat 12px; }
.iCreate { background: url(../img/icons/dark/create.png) no-repeat 12px; }
.iCup { background: url(../img/icons/dark/cup.png) no-repeat 12px; }
.iCut { background: url(../img/icons/dark/cut.png) no-repeat 12px; }

.iDayCalendar { background: url(../img/icons/dark/dayCalendar.png) no-repeat 12px; }
.iDelicious { background: url(../img/icons/dark/delicious.png) no-repeat 12px; }
.iDenied { background: url(../img/icons/dark/denied.png) no-repeat 12px; }
.iDialog { background: url(../img/icons/dark/dialog.png) no-repeat 12px; }
.iDigg { background: url(../img/icons/dark/digg.png) no-repeat 12px; }
.iDigg2 { background: url(../img/icons/dark/digg2.png) no-repeat 12px; }
.iDoc { background: url(../img/icons/dark/doc.png) no-repeat 12px; }
.iDocs { background: url(../img/icons/dark/docs.png) no-repeat 12px; }
.iDownload { background: url(../img/icons/dark/download.png) no-repeat 12px; }
.iDownload2 { background: url(../img/icons/dark/download2.png) no-repeat 12px; }
.iDownload3 { background: url(../img/icons/dark/download3.png) no-repeat 12px; }
.iDribbble { background: url(../img/icons/dark/dribbble.png) no-repeat 12px; }
.iDribbble2 { background: url(../img/icons/dark/dribbble2.png) no-repeat 12px; }
.iDrive { background: url(../img/icons/dark/drive.png) no-repeat 12px; }
.iDropbox { background: url(../img/icons/dark/dropbox.png) no-repeat 12px; }
.iDropper { background: url(../img/icons/dark/dropper.png) no-repeat 12px; }
.iDrupal { background: url(../img/icons/dark/drupal.png) no-repeat 12px; }
.iDvd { background: url(../img/icons/dark/dvd.png) no-repeat 12px; }

.iElectricity { background: url(../img/icons/dark/electricity.png) no-repeat 12px; }
.iElectroPlug { background: url(../img/icons/dark/electroPlug.png) no-repeat 12px; }
.iExcelDoc { background: url(../img/icons/dark/excelDoc.png) no-repeat 12px; }
.iExit { background: url(../img/icons/dark/exit.png) no-repeat 12px; }
.iExpengine { background: url(../img/icons/dark/expengine.png) no-repeat 12px; }
.iExpose { background: url(../img/icons/dark/expose.png) no-repeat 12px; }

.iFacebook { background: url(../img/icons/dark/facebook.png) no-repeat 12px; }
.iFax { background: url(../img/icons/dark/fax.png) no-repeat 12px; }
.iFemaleContour { background: url(../img/icons/dark/femaleContour.png) no-repeat 12px; }
.iFemaleSymbol { background: url(../img/icons/dark/femaleSymbol.png) no-repeat 12px; }
.iFiles { background: url(../img/icons/dark/files.png) no-repeat 12px; }
.iFilmCamera { background: url(../img/icons/dark/filmCamera.png) no-repeat 12px; }
.iFilmStrip { background: url(../img/icons/dark/filmStrip.png) no-repeat 12px; }
.iFilmStrip2 { background: url(../img/icons/dark/filmStrip2.png) no-repeat 12px; }
.iFirefox { background: url(../img/icons/dark/firefox.png) no-repeat 12px; }
.iFlag { background: url(../img/icons/dark/flag.png) no-repeat 12px; }
.iFlag2 { background: url(../img/icons/dark/flag2.png) no-repeat 12px; }
.iFlagFinished { background: url(../img/icons/dark/flagFinished.png) no-repeat 12px; }
.iFolder { background: url(../img/icons/dark/folder.png) no-repeat 12px; }
.iFootprints { background: url(../img/icons/dark/footprints.png) no-repeat 12px; }
.iFountainPen { background: url(../img/icons/dark/fountainPen.png) no-repeat 12px; }
.iFrames { background: url(../img/icons/dark/frames.png) no-repeat 12px; }
.iFull { background: url(../img/icons/dark/full.png) no-repeat 12px; }
.iFull2 { background: url(../img/icons/dark/full2.png) no-repeat 12px; }
.iFullscreen { background: url(../img/icons/dark/fullscreen.png) no-repeat 12px; }

.iGlobe { background: url(../img/icons/dark/globe.png) no-repeat 12px; }
.iGlobe2 { background: url(../img/icons/dark/globe2.png) no-repeat 12px; }
.iGmaps { background: url(../img/icons/dark/gmaps.png) no-repeat 12px; }
.iGoBack { background: url(../img/icons/dark/goBack.png) no-repeat 12px; }
.iGoFull { background: url(../img/icons/dark/goFull.png) no-repeat 12px; }
.iGraph { background: url(../img/icons/dark/graph.png) no-repeat 12px; }

.iHeart { background: url(../img/icons/dark/heart.png) no-repeat 12px; }
.iHd { background: url(../img/icons/dark/hd.png) no-repeat 12px; }
.iHd2 { background: url(../img/icons/dark/hd2.png) no-repeat 12px; }
.iHd3 { background: url(../img/icons/dark/hd3.png) no-repeat 12px; }
.iHeadphones { background: url(../img/icons/dark/headphones.png) no-repeat 12px; }
.iHelp { background: url(../img/icons/dark/help.png) no-repeat 12px; }
.iHome { background: url(../img/icons/dark/home.png) no-repeat 12px; }
.iHome2 { background: url(../img/icons/dark/home2.png) no-repeat 12px; }

.iIcecream { background: url(../img/icons/dark/icecream.png) no-repeat 12px; }
.iIchat { background: url(../img/icons/dark/ichat.png) no-repeat 12px; }
.iImage { background: url(../img/icons/dark/image.png) no-repeat 12px; }
.iImage2 { background: url(../img/icons/dark/image2.png) no-repeat 12px; }
.iImageList { background: url(../img/icons/dark/imageList.png) no-repeat 12px; }
.iImages { background: url(../img/icons/dark/images.png) no-repeat 12px; }
.iImages2 { background: url(../img/icons/dark/images2.png) no-repeat 12px; }
.iImagesList { background: url(../img/icons/dark/imagesList.png) no-repeat 12px; }
.iInbox { background: url(../img/icons/dark/inbox.png) no-repeat 12px; }
.iInbox2 { background: url(../img/icons/dark/inbox2.png) no-repeat 12px; }
.iIncoming { background: url(../img/icons/dark/incoming.png) no-repeat 12px; }
.iInfo { background: url(../img/icons/dark/info.png) no-repeat 12px; }
.iIpad { background: url(../img/icons/dark/ipad.png) no-repeat 12px; }
.iIphone { background: url(../img/icons/dark/iphone.png) no-repeat 12px; }
.iIpodClassic { background: url(../img/icons/dark/ipodClassic.png) no-repeat 12px; }
.iIpodNano { background: url(../img/icons/dark/ipodNano.png) no-repeat 12px; }

.iJoomla { background: url(../img/icons/dark/joomla.png) no-repeat 12px; }

.iKey { background: url(../img/icons/dark/key.png) no-repeat 12px; }

.iLadyPurse { background: url(../img/icons/dark/ladyPurse.png) no-repeat 12px; }
.iLamp { background: url(../img/icons/dark/lamp.png) no-repeat 12px; }
.iLaptop { background: url(../img/icons/dark/laptop.png) no-repeat 12px; }
.iLastFM { background: url(../img/icons/dark/lastFM.png) no-repeat 12px; }
.iLemonadeStand { background: url(../img/icons/dark/lemonadeStand.png) no-repeat 12px; }
.iLightBulb { background: url(../img/icons/dark/lightBulb.png) no-repeat 12px; }
.iLike { background: url(../img/icons/dark/like.png) no-repeat 12px; }
.iLink { background: url(../img/icons/dark/link.png) no-repeat 12px; }
.iLink2 { background: url(../img/icons/dark/link2.png) no-repeat 12px; }
.iLinux { background: url(../img/icons/dark/linux.png) no-repeat 12px; }
.iList { background: url(../img/icons/dark/list.png) no-repeat 12px; }
.iLoading { background: url(../img/icons/dark/loading.png) no-repeat 12px; }
.iLogoff { background: url(../img/icons/dark/logoff.png) no-repeat 12px; }
.iLocked { background: url(../img/icons/dark/locked.png) no-repeat 12px; }
.iLocked2 { background: url(../img/icons/dark/locked2.png) no-repeat 12px; }

.iMacos { background: url(../img/icons/dark/macos.png) no-repeat 12px; }
.iMagicMouse { background: url(../img/icons/dark/magicMouse.png) no-repeat 12px; }
.iMagnify { background: url(../img/icons/dark/magnify.png) no-repeat 12px; }
.iMail { background: url(../img/icons/dark/mail.png) no-repeat 12px; }
.iMaleContour { background: url(../img/icons/dark/maleContour.png) no-repeat 12px; }
.iMaleSymbol { background: url(../img/icons/dark/maleSymbol.png) no-repeat 12px; }
.iMap { background: url(../img/icons/dark/map.png) no-repeat 12px; }
.iMedicalCase { background: url(../img/icons/dark/medicalCase.png) no-repeat 12px; }
.iMegaphone { background: url(../img/icons/dark/megaphone.png) no-repeat 12px; }
.iMicrophone { background: url(../img/icons/dark/microphone.png) no-repeat 12px; }
.iMightyMouse { background: url(../img/icons/dark/mightyMouse.png) no-repeat 12px; }
.iMobile { background: url(../img/icons/dark/mobile.png) no-repeat 12px; }
.iMobyPicture { background: url(../img/icons/dark/mobyPicture.png) no-repeat 12px; }
.iMoney { background: url(../img/icons/dark/money.png) no-repeat 12px; }
.iMoney2 { background: url(../img/icons/dark/money2.png) no-repeat 12px; }
.iMonitor { background: url(../img/icons/dark/monitor.png) no-repeat 12px; }
.iMonthCalendar { background: url(../img/icons/dark/monthCalendar.png) no-repeat 12px; }
.iMouse { background: url(../img/icons/dark/mouse.png) no-repeat 12px; }
.iMusic { background: url(../img/icons/dark/music.png) no-repeat 12px; }
.iMyspace { background: url(../img/icons/dark/myspace.png) no-repeat 12px; }

.iNotebook { background: url(../img/icons/dark/notebook.png) no-repeat 12px; }

.iOutgoing { background: url(../img/icons/dark/outgoing.png) no-repeat 12px; }

.iPacman { background: url(../img/icons/dark/pacman.png) no-repeat 12px; }
.iPaintBrush { background: url(../img/icons/dark/paintBrush.png) no-repeat 12px; }
.iPants { background: url(../img/icons/dark/pants.png) no-repeat 12px; }
.iPaperclip { background: url(../img/icons/dark/paperclip.png) no-repeat 12px; }
.iPaypal { background: url(../img/icons/dark/paypal.png) no-repeat 12px; }
.iPaypal2 { background: url(../img/icons/dark/paypal2.png) no-repeat 12px; }
.iPaypal3 { background: url(../img/icons/dark/paypal3.png) no-repeat 12px; }
.iPdfDoc { background: url(../img/icons/dark/pdfDoc.png) no-repeat 12px; }
.iPencil { background: url(../img/icons/dark/pencil.png) no-repeat 12px; }
.iPhone { background: url(../img/icons/dark/phone.png) no-repeat 12px; }
.iPhone2 { background: url(../img/icons/dark/phone2.png) no-repeat 12px; }
.iPhone3 { background: url(../img/icons/dark/phone3.png) no-repeat 12px; }
.iPhotos { background: url(../img/icons/dark/photos.png) no-repeat 12px; }
.iPiggyBank { background: url(../img/icons/dark/piggyBank.png) no-repeat 12px; }
.iPin { background: url(../img/icons/dark/pin.png) no-repeat 12px; }
.iPlaneSuitcase { background: url(../img/icons/dark/planeSuitcase.png) no-repeat 12px; }
.iPlay { background: url(../img/icons/dark/play.png) no-repeat 12px; }
.iPlay2 { background: url(../img/icons/dark/play2.png) no-repeat 12px; }
.iPlixi { background: url(../img/icons/dark/plixi.png) no-repeat 12px; }
.iPodium { background: url(../img/icons/dark/podium.png) no-repeat 12px; }
.iPostcard { background: url(../img/icons/dark/postcard.png) no-repeat 12px; }
.iPower { background: url(../img/icons/dark/power.png) no-repeat 12px; }
.iPowerBattery { background: url(../img/icons/dark/powerBattery.png) no-repeat 12px; }
.iPpDoc { background: url(../img/icons/dark/ppDoc.png) no-repeat 12px; }
.iPresentation { background: url(../img/icons/dark/presentation.png) no-repeat 12px; }
.iPreview { background: url(../img/icons/dark/preview.png) no-repeat 12px; }
.iPriceTag { background: url(../img/icons/dark/pricetag.png) no-repeat 12px; }
.iPriceTags { background: url(../img/icons/dark/priceTags.png) no-repeat 12px; }
.iPrinter { background: url(../img/icons/dark/printer.png) no-repeat 12px; }

.iRadio { background: url(../img/icons/dark/radio.png) no-repeat 12px; }
.iRecord { background: url(../img/icons/dark/record.png) no-repeat 12px; }
.iRecycle { background: url(../img/icons/dark/recycle.png) no-repeat 12px; }
.iRefresh { background: url(../img/icons/dark/refresh.png) no-repeat 12px; }
.iRefresh2 { background: url(../img/icons/dark/refresh2.png) no-repeat 12px; }
.iRefresh3 { background: url(../img/icons/dark/refresh3.png) no-repeat 12px; }
.iRefresh4 { background: url(../img/icons/dark/refresh4.png) no-repeat 12px; }
.iRepeat { background: url(../img/icons/dark/repeat.png) no-repeat 12px; }
.iRobot { background: url(../img/icons/dark/robot.png) no-repeat 12px; }
.iRss { background: url(../img/icons/dark/iRss.png) no-repeat 12px; }
.iRuler { background: url(../img/icons/dark/ruler.png) no-repeat 12px; }
.iRuler2 { background: url(../img/icons/dark/ruler2.png) no-repeat 12px; }
.iRunningMan { background: url(../img/icons/dark/runningMan.png) no-repeat 12px; }

.iSafari { background: url(../img/icons/dark/safari.png) no-repeat 12px; }
.iScanLabel { background: url(../img/icons/dark/scanLabel.png) no-repeat 12px; }
.iSd { background: url(../img/icons/dark/sd.png) no-repeat 12px; }
.iSd2 { background: url(../img/icons/dark/sd2.png) no-repeat 12px; }
.iSd3 { background: url(../img/icons/dark/sd3.png) no-repeat 12px; }
.iSettings { background: url(../img/icons/dark/settings.png) no-repeat 12px; }
.iSettings2 { background: url(../img/icons/dark/settings2.png) no-repeat 12px; }
.iShirt { background: url(../img/icons/dark/shirt.png) no-repeat 12px; }
.iShoppingBag { background: url(../img/icons/dark/shoppingBag.png) no-repeat 12px; }
.iShuffle { background: url(../img/icons/dark/shuffle.png) no-repeat 12px; }
.iSignal { background: url(../img/icons/dark/signal.png) no-repeat 12px; }
.iSignPost { background: url(../img/icons/dark/signPost.png) no-repeat 12px; }
.iSkype { background: url(../img/icons/dark/skype.png) no-repeat 12px; }
.iSmallBrush { background: url(../img/icons/dark/smallBrush.png) no-repeat 12px; }
.iSocks { background: url(../img/icons/dark/socks.png) no-repeat 12px; }
.iSound { background: url(../img/icons/dark/sound.png) no-repeat 12px; }
.iSpeech { background: url(../img/icons/dark/speech.png) no-repeat 12px; }
.iSpeech2 { background: url(../img/icons/dark/speech2.png) no-repeat 12px; }
.iStar { background: url(../img/icons/dark/star.png) no-repeat 12px; }
.iStats { background: url(../img/icons/dark/stats.png) no-repeat 12px; }
.iStop { background: url(../img/icons/dark/stop.png) no-repeat 12px; }
.iStopWatch { background: url(../img/icons/dark/stopWatch.png) no-repeat 12px; }
.iStrategy { background: url(../img/icons/dark/strategy.png) no-repeat 12px; }
.iStrategy2 { background: url(../img/icons/dark/strategy2.png) no-repeat 12px; }
.iStumble { background: url(../img/icons/dark/stumble.png) no-repeat 12px; }
.iSuitcase { background: url(../img/icons/dark/suitcase.png) no-repeat 12px; }
.iSwitcher { background: url(../img/icons/dark/switcher.png) no-repeat 12px; }

.iTable { background: url(../img/icons/dark/table.png) no-repeat 12px; }
.iTag { background: url(../img/icons/dark/tag.png) no-repeat 12px; }
.iTags { background: url(../img/icons/dark/tags.png) no-repeat 12px; }
.iTimer { background: url(../img/icons/dark/timer.png) no-repeat 12px; }
.iTransfer { background: url(../img/icons/dark/transfer.png) no-repeat 12px; }
.iTrash { background: url(../img/icons/dark/trash.png) no-repeat 12px; }
.iTravelSuitcase { background: url(../img/icons/dark/travelSuitcase.png) no-repeat 12px; }
.iTree { background: url(../img/icons/dark/tree.png) no-repeat 12px; }
.iTrolly { background: url(../img/icons/dark/trolly.png) no-repeat 12px; }
.iTruck { background: url(../img/icons/dark/truck.png) no-repeat 12px; }
.iTumbler { background: url(../img/icons/dark/tumbler.png) no-repeat 12px; }
.iTv { background: url(../img/icons/dark/tv.png) no-repeat 12px; }
.iTwitter { background: url(../img/icons/dark/twitter.png) no-repeat 12px; }
.iTwitter2 { background: url(../img/icons/dark/twitter2.png) no-repeat 12px; }

.iUmbrella { background: url(../img/icons/dark/radio.png) no-repeat 12px; }
.iUnderConstruction { background: url(../img/icons/dark/underConstruction.png) no-repeat 12px; }
.iUnlocked { background: url(../img/icons/dark/unlocked.png) no-repeat 12px; }
.iUpload { background: url(../img/icons/dark/upload.png) no-repeat 12px; }
.iUser { background: url(../img/icons/dark/user.png) no-repeat 12px; }
.iUser2 { background: url(../img/icons/dark/user2.png) no-repeat 12px; }
.iUserComment { background: url(../img/icons/dark/userComment.png) no-repeat 12px; }
.iUsers { background: url(../img/icons/dark/users.png) no-repeat 12px; }
.iUsers2 { background: url(../img/icons/dark/users2.png) no-repeat 12px; }

.iVault { background: url(../img/icons/dark/vault.png) no-repeat 12px; }
.iVcard { background: url(../img/icons/dark/vcard.png) no-repeat 12px; }
.iView { background: url(../img/icons/dark/view.png) no-repeat 12px; }
.iVimeo { background: url(../img/icons/dark/vimeo.png) no-repeat 12px; }
.iVimeo2 { background: url(../img/icons/dark/vimeo2.png) no-repeat 12px; }

.iWalkingMan { background: url(../img/icons/dark/walkingMan.png) no-repeat 12px; }
.iWifi { background: url(../img/icons/dark/wifi.png) no-repeat 12px; }
.iWifi2 { background: url(../img/icons/dark/wifi2.png) no-repeat 12px; }
.iWindows { background: url(../img/icons/dark/windows.png) no-repeat 12px; }
.iWordDoc { background: url(../img/icons/dark/wordDoc.png) no-repeat 12px; }
.iWordpress { background: url(../img/icons/dark/wordpress.png) no-repeat 12px; }
.iWordpress2 { background: url(../img/icons/dark/wordpress2.png) no-repeat 12px; }

.iYoutube { background: url(../img/icons/dark/youtube.png) no-repeat 12px; }

.iZip { background: url(../img/icons/dark/zip.png) no-repeat 12px; }
.iZipFiles { background: url(../img/icons/dark/zipFiles.png) no-repeat 12px; }
