/*========
Style alerts
 ========= */
#error-nivel-1 {
  position:absolute;
  top:170px;
  left:100px;
  width:400px;
}

#error-nivel-2 {
  position:absolute;
  top:170px;
  left:100px;
  width:400px;
}

#error-nivel-3 {
  position:absolute;
  top:170px;
  left:-50px;
  width:420px;
}

#error-nivel-4 {
  position:absolute;
  top:100px;
  left:100px;
  width:400px;
}

#error-dealer {
  position: absolute;
  width:325px;
  top: 65px;
  left: 0px;
}

.alert{
display:none;
position:absolute;
top:0;
left:0px;
width:420px;
padding:;
margin:10px 0px 5px 175px;
height:44px;
color:#000;
position:relative;
z-index:2;
/*border-radius*/
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
cursor:pointer;
}

.alert p{
line-height:1.5;
padding: 0;
}

.alert:before{
content:'';
display:block;
width:20px;
height:20px;
z-index:0;
position:absolute;
margin:12px 97%;
/*transform*/
-webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}
/*========
 Positions
 =========
 Set all combinaisons you want ! (ex : .left.hey:before{}|.top.tooltip:after{} ) */

.bottom.tooltip:before{
margin:-26px 0%;
z-index:-1;
border-top:1px solid #ccc;
border-right:1px solid #ccc;
}
.bottom.tooltip:after{
margin:-57px 140px;
width:60px;
z-index:-1;
}
/**/

#error-gral {
  display:none; width:300px; background-color:#f5f5f5; position:absolute; top:96%; left:35%; border:1px solid #ccc;
}

#error-gral-audit {
  display:none; width:300px; height:86px; background-color:#f5f5f5; position:absolute; top:93%; left:25%; border:1px solid #ccc;
}

#error-gral-audit p {
  margin:3px 10px;
}

#error-gral p {
  margin:3px 10px;
}

#error-login {
   width:300px; height:100px; background-color:#f5f5f5; position:absolute; top:155px; left:-256px; border:1px solid #ccc;
}

#error-login p {
  margin:3px 10px;
}

 .right{
background-image:linear-gradient(#f5f5f5  0%, #f5f5f5 );
/*box-shadow*/
-webkit-box-shadow:0px 2px 0px #f5f5f5;
   -moz-box-shadow:0px 2px 0px #f5f5f5;
        box-shadow:0px 2px 0px #f5f5f5;
}
.right:after{
background-image:linear-gradient(bottom, #f5f5f5 0%, #f5f5f5 100%);
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,  #f5f5f5),color-stop(0,  #f5f5f5));
}
.right:before{
  border-bottom:1px solid #ccc;
border-right:1px solid #ccc;
background-image:linear-gradient(top,  #f5f5f5 0%,  #f5f5f5 100%);
background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,  #f5f5f5),color-stop(0,  #f5f5f5));
}

.tooltip{
background-image:linear-gradient(#ccc  0%, #ccc );
/*box-shadow*/
-webkit-box-shadow:0px 2px 0px #ccc;
   -moz-box-shadow:0px 2px 0px #ccc;
        box-shadow:0px 2px 0px #ccc;
}
.tooltip:after{
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f5f5f5));
background:-webkit-linear-gradient(#f5f5f5  0%, #f5f5f5 );
background:   -moz-linear-gradient(#f5f5f5  0%, #f5f5f5 );
background:     -o-linear-gradient(#f5f5f5  0%, #f5f5f5 );
background:        linear-gradient(#f5f5f5  0%, #f5f5f5 );
}
.tooltip:before{
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(#ccc,0),to(#ccc));
background:-webkit-linear-gradient(#f5f5f5 0%, #f5f5f5);
background:   -moz-linear-gradient(#f5f5f5 0%, #f5f5f5);
background:     -o-linear-gradient(#f5f5f5 0%, #f5f5f5);
background:        linear-gradient(#f5f5f5 0%, #f5f5f5);
}
/**/

/*===================
bit of responsiveness
===================*/
@media only screen and (max-width: 480px) {
  *:before,
  *:after{
    display:none !important
  }
  .alert{
    margin:0 !important;
    width:100% !important;
    position:relative;
    /*cssdeck only*/
    top:-16px ;
    /*============*/
    border-radius:0;
  }

  .alert:not(:first-child) p{margin:2px 0}
}