<div id="slider">
	<div id="items">
		<?php foreach ($banners as $banner) { 
			$background = $banner['Banner']['imgprefix'];
		?>
			<div style="background-image:url('/files/banners/<?php echo $background; ?>2.jpg'); background-position: center; background-repeat:repeat-x; height:300px;">
				<div style="background-image:url('/files/banners/<?php echo $background; ?>1.jpg'); background-position: center top; background-repeat:no-repeat; height:300px;">
					<div class="w70 center left-side">
						<div class="title">
							<?php if ($banner['Banner']['empty'] == '1'){ ?>
							<span class="name"><?php echo $banner['Banner']['name']; ?></span>
							<?php } ?>
							<?php if ($banner['Banner']['empty'] == '1'){ ?>
							<span class="cat"><?php echo $banner['Banner']['cat']; ?></span>
							<?php } ?>
							<?php if ($banner['Banner']['empty'] == '1'){ ?>
							<span class="info">Informacion</span>
							<?php } ?>
						</div>
						<?php if ($banner['Banner']['empty'] == '1'){ ?>				
						<span class="desc"><?php echo $banner['Banner']['desc']; ?></span>
						<?php } ?>
						<?php if ($banner['Banner']['empty'] == '1'){ ?>				
						<img src="/files/banners/<?php echo $background; ?>3.png" alt="" class="logo">
						<?php } ?>
					</div>
				</div>
			</div>
		<?php } ?>
	</div>
</div>
<div class="fix"></div>