<select name="dealer" id="">
	<option value="">Select Dealer</option>
	<?php foreach ($dealers as $dealer): ?>
		<option value="<?php echo $dealer['Dealer']['id']; ?>"><?php echo $dealer['Dealer']['name']; ?></option>
	<?php endforeach ?>
</select>