<option value="" disabled><?php echo $lang; ?></option>
<?php
	foreach ($childrens as $key => $value) { 
		if(in_array($value['Group']['parent_id'], $parent_id)){
?>
      <option value="<?php echo $value['Group']['id']; ?>"><?php echo $value['Group']['parent_name']; ?> - <?php echo $value['Group']['name']; ?></option>
<?php
    } 
	} 
?>