
<form action="" class="mainForm" method="post" enctype="multipart/form-data">
	<fieldset>
		<div class="widget">    
			<div class="head"><h5 class="iRecord">file input</h5></div>  

			<div class="rowElem">
				<label>Usual file input :</label> 
					<div class="formRight">
						<input type="file" name="file" id="file">
					</div>
				<div class="fix"></div>
			</div> 

			<input type="submit" value="Submit form" class="greyishBtn submitForm" />
      <div class="fix"></div>                
		</div>
	</fieldset>
</form>
